{%extends 'myapp/base.html'%}
{%block content_block%}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="card mt-5">
                    <div class="card-header bg-dark">
                        <p class="h3  text-white text-center">Login Here</p>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                                {%csrf_token%}
                                {{form.as_p}}
                                <button class="btn btn-sm btn-dark text-white">Login</button>
                                <a href="/" class="btn btn-dark btn-sm text-white float-right">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}